$smaller: 480px;
$medium: 768px;
$large: 1024px;

@mixin for-greater-than-smaller {
  @media (min-width: $smaller) {
    @content;
  }
}
@mixin for-greater-than-medium {
  @media (min-width: $medium) {
    @content;
  }
}
@mixin for-greater-than-large {
  @media (min-width: $large) {
    @content;
  }
}

.footer {
  padding: 5rem 1rem;
  border-top: 1px solid rgba(128, 128, 128, 0.443);
  @include for-greater-than-medium() {
    padding: 8rem 4rem;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      img {
        width: 5vw;
      }

      h2 {
        font-size: 4rem;
        font-weight: bold;
        text-transform: lowercase;
        line-height: 5rem;
      }

      p {
        font-size: 1.5rem;
        text-transform: lowercase;
      }
    }

    .links {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      font-size: 1.5rem;
      flex-wrap: wrap;

      li {
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: #551aff;
        }
      }
    }

    .copyright {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      p {
        font-size: 1.2rem;
      }
    }
  }
}
